* {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  box-sizing: border-box;
  border: 0 none;
}

body {
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  position: relative;
  color: black;
  font-weight: 700;
}

.container-fluid,
.container {
  max-width: 1310px;
}

.white {
  color: white;
}

/*HEADER NAVBAR*/
header {
  background-color: #f72210;
}

.brand svg {
  fill: white;
  width: 132px;
  height: 20px;
}

.menu {
  width: 50%;
  right: 50px;
  position: absolute;
  z-index: 1;
  top: 13px;
}

.profile svg {
  width: 25px;
  height: 25px;
  fill: rgba(255, 255, 255, .55);
}

.sub-btn {
  font: bold 13px/24px "Roboto Condensed", sans-serif;
  background-color: #ffe400;
  color: black;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0 12px;
}

.mid-header {
  padding: 15px 0;
  background-color: #f72210;
}

.ham-menu svg {
  position: absolute;
  right: 14px;
  top: 11px;
  width: 28px;
  height: 30px;
  fill: rgba(255, 255, 255, .55);
}

/*MAIN TOP STORY*/
.main {
  background-color: white;
  padding-top: 20px;
}

.top-story article {
  padding-bottom: 20px;
}

.block-title {
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 11px;
  color: rgba(3, 3, 3, .4);
}

.img img {
  width: 100%;
}

.wrap {
  position: relative;
  margin-bottom: 10px;
  min-width: 33px;
}

.category {
  display: block;
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  color: #f72210;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.headline {
  font-size: 22px;
  line-height: 24px;
}

/*FEATURED STORIES*/
.featured-stories,
.debate-cont,
.opinion-cont,
.more-stories,
.culture-cont {
  padding-top: 30px;
}

.featured-stories article {
  padding-bottom: 20px;
}

/*DEBATE*/
.debate-cont,
.opinion-cont {
  font: bold 17px/21px "Roboto Condensed", sans-serif;
  color: black;
}

.debate-cont img,
.opinion-cont img {
  width: 63px;
  height: 63px;
  margin-right: 15px;
}

.player1 {
  border-top: 4px solid #d9d9d9;
  padding-top: 10px;
  padding-bottom: 4px;
}

.by-who {
  font-size: 14px;
  line-height: 21px;
  color: #555;
  text-transform: uppercase;
  margin-top: 4px;
}

.by-who span {
  font-weight: normal;
}

.vs-wrap {
  position: relative;
}

.hr1 {
  margin-bottom: 1px;
}

.hr2 {
  margin-top: 1px;
}

.decoration {
  position: absolute;
  z-index: 1;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  font: bold 14px/32px "Roboto Condensed", sans-serif;
  text-align: center;
  left: 45%;
  top: -15px;
}

.player2 {
  border-bottom: 4px solid #d9d9d9;
  padding-bottom: 12px;
}

/*OPINION*/
.opinion-cont li {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.opinion-cont li:first-child {
  border-top: 0;
  padding-top: 0;
}

/*MORE STORIES*/
.more-stories article {
  padding: 14px 0;
  border-top: 1px solid #ddd;
  position: relative;
}

.more-stories .img {
  width: 95px;
  float: left;
  margin-right: 15px;
}

.more-stories h4 {
  font-size: 17px;
  line-height: 20px;
}

/*CULTURE & TRAVEL*/
.culture-cont {
  padding-bottom: 10px;
}

.cnt-cont {
  padding-top: 10px;
}

.cnt-1 .wrap {
  margin-bottom: 0;
}

.turn-1 .info,
.cnt-1 .info {
  padding: 15px 0 20px;
}

.turn-1 .info a,
.cnt-1 .info a {
  font: bold 16px/19px "Roboto Condensed", sans-serif;
  color: rgba(3, 3, 3, .5);
  margin-bottom: 10px;
}

.tags {
  font: bold 13px/20px "Roboto condensed", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tags a {
  display: inline-block;
  background-color: #c2d4d7;
  padding-left: 6px;
  padding-right: 6px;
}

/*NEWSLETTER*/
.newsletter {
  max-width: 300px;
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
}

.n-title {
  font: bold 19px/19px "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.icon-n {
  width: 29px;
  float: left;
  margin: 5px 10px 5px 0;
}

.signup-email {
  width: 100%;
  height: 32px;
  line-height: 32px;
  color: #555;
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  background-color: white;
  border: 1px solid #e0e1e1;
  text-indent: 9px;
}

.signup-btn {
  margin-top: 8px;
  width: 100%;
  height: 32px;
  line-height: 32px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f61602;
  border-radius: 3px;
}

.signup-btn svg {
  fill: white;
}