* {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  box-sizing: border-box;
  border: 0 none;
}

body {
  font-size: 15px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

.container-fluid,
.container {
  max-width: 1310px;
}

.white {
  color: white;
}

header {
  background-color: #f72210;
}

.brand svg {
  fill: white;
  width: 132px;
  height: 20px;
}

.menu {
  width: 50%;
  right: 50px;
  position: absolute;
  z-index: 1;
  top: 13px;
}

.profile svg {
  width: 25px;
  height: 25px;
  fill: rgba(255, 255, 255, .55);
}

.sub-btn {
  font: bold 13px/24px "Roboto Condensed", sans-serif;
  background-color: #ffe400;
  color: black;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0 12px;
}

.mid-header {
  padding: 15px 0;
  background-color: #f72210;
}

.ham-menu svg {
  position: absolute;
  right: 14px;
  top: 11px;
  width: 28px;
  height: 30px;
  fill: rgba(255, 255, 255, .55);
}

