/*Header Navbar*/
.menu {
  position: absolute;
  bottom: 12px;
}

.prof-logo {
  display: none;
}

.lgn {
  display: block;
}

.sub-btn {
  font-size: 18px;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.featured-stories,
.debate-cont,
.opinion-cont,
.more-stories,
.culture-cont {
  padding-top: 0;
}

.top-wrapper {
  display: grid;
  grid-template-columns: 45% 52%;
  grid-template-rows: 387px 579px 876px 877px 150px 222px 342px 342px 197px;
  column-gap: 20px;
  row-gap: 20px;
  position: relative;
}

.top-story {
  grid-column-start: 2;
  position: static;
}

.featured-stories {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 7;
  position: sticky;
  top: -1300px;
}

.culture-cont {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.more-stories {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 6;
}

.debate-cont {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

.opinion-cont {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 9;
}

.newsletter {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 9;
}

.my-turn,
.cnt {
  display: flex;
  justify-content: space-between;
}

.my-turn .img img,
.cnt .img img {
  width: 110px
}

.turn-1,
.cnt-1 {
  font: bold 16px/19px;
  width: 110px;
}
